*.debrc
*.jssn
*.ssn
*.db
*.lnk
*.pptx
*.docx
*.xlsx
*.l
*.log
*.out
*.txt
Makefile
exclude_files

# Resources
test*/
docfiles*/
!requirements.txt
pyGatan
pyRigaku

# Byte-compiled files
__pycache__/
*.py[co]

# Distribution / packaging
build/
dist/
lib/
*.egg-info/
