*.jssn
*.ssn
*.db
*.lnk
*.pptx
*.docx
*.xlsx
*.l
*.log
*.out
*.txt
Makefile
exclude_files

# Resources
docfiles*/
plugins/RigakuCamera.py
pyJeol/legacy/src/
!requirements.txt

# Byte-compiled files
__pycache__/
*.py[co]

# Distribution / packaging
build/
dist/
lib/
*.egg-info/
