*.jssn
*.ssn
*.db
*.l
*.lnk
*.pptx
*.docx
*.xlsx
Makefile
exclude_files
setup.py
setup_exe.py
pyJeol/
pyGatan/
pyDM3reader/
pyDM4reader/
plugins/RigakuCamera.py

# Byte-compiled files
__pycache__/
*.py[co]

# Distribution / packaging
build/
dist/
lib/
*.egg-info/
